@using webBookingSolution.ViewModels.Catalog.Customers
@model CustomerCreateRequest
@{
    ViewData["Title"] = "Admin - Customer Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12">
            <h1 class="page-header">Thêm khách hàng</h1>
        </div>
        <div class="col-lg-7" style="padding-bottom:120px">
            @if (!Html.ViewData.ModelState.IsValid)
            {
                <div class="alert alert-danger">@Html.ValidationSummary()</div>
            }
            <form asp-action="Create" enctype="multipart/form-data" method="post">
                <div style="display: flex;">
                    <div class="form-group" style="width: 49%; margin-right: 2%">
                        <label style="margin-left: 1%;">Họ<span class="text-danger"> *</span></label>
                        <input class="form-control" type="text" asp-for="FirstName" placeholder="Họ" required
                               oninvalid="this.setCustomValidity('Vui lòng nhập họ')"
                               oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="FirstName" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width: 49%;">
                        <label style="margin-left: 1%;">Tên<span class="text-danger"> *</span></label>
                        <input class="form-control" type="text" asp-for="LastName" placeholder="Tên" required
                               oninvalid="this.setCustomValidity('Vui lòng nhập tên')"
                               oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="LastName" class="text-danger"></span>
                    </div>
                </div>
                <div style="display: flex;">
                    <div class="form-group" style="width: 49%; margin-right: 2%;">
                        <label style="margin-left: 1%;">Ngày sinh<span class="text-danger"> *</span></label>
                        <div class="input-group date" id="datepicker">
                            <input type="text" class="form-control" asp-for="DOB" placeholder="Ngày sinh" readonly />
                            <span class="input-group-addon"><span class="fa fa-calendar"></span></span>
                        </div>
                    </div>
                    <div class="form-group" style="width: 49%;">
                        <label style="margin-left: 1%;">Số điện thoại<span class="text-danger"> *</span></label>
                        <input class="form-control" type="text" asp-for="PhoneNumber" placeholder="Số điện thoại" required
                               oninvalid="this.setCustomValidity('Vui lòng nhập số điện thoại')"
                               oninput="this.setCustomValidity('')" />

                        <span asp-validation-for="PhoneNumber" class="text-danger"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label>Hình ảnh<span class="text-danger"> *</span></label>
                    <input type="file" class="input-img" asp-for="Image" id="image_upload" />
                    <label class="instead-img" for="image_upload">
                        <img class="image_preview_container" src="/images/preview.jpg" alt="preview image" />
                    </label>
                </div>
                <div style="display: flex;">
                    <div class="form-group" style="width: 49%; margin-right: 2%">
                        <label style="margin-left: 1%;">Email<span class="text-danger"> *</span></label>
                        <input class="form-control" type="text" asp-for="Email" placeholder="Email" required
                               oninvalid="this.setCustomValidity('Vui lòng nhập email')"
                               oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="Email" class="text-danger"></span>
                    </div>
                    <div class="form-group" style="width: 49%;">
                        <label style="margin-left: 1%;">Địa chỉ<span class="text-danger"> *</span></label>
                        <input class="form-control" type="text" asp-for="Address" placeholder="Địa chỉ" required
                               oninvalid="this.setCustomValidity('Vui lòng nhập địa chỉ')"
                               oninput="this.setCustomValidity('')" />
                        <span asp-validation-for="Address" class="text-danger"></span>
                    </div>
                </div>
                <button class="btn btn-danger" type="submit">Thêm khách hàng</button>
            </form>
        </div>
    </div>
</div>
@section scripts{
    <script type="text/javascript">
        $('#customer').addClass('active');

        $("form").submit(function (e) {
            if ($('#image_upload').val() == "") {
                alert('Vui lòng chọn ảnh');
                return false;
            }
        });

        setTimeout(function () {
            $(".alert").fadeOut('slow');
        }, 6000);

        $(function () {
            $("#datepicker").datepicker({
                autoclose: true,
                format: 'yyyy-mm-dd',
                todayHighlight: true,
                changeYear: true,
                changeMonth: true,
                yearRange: "-100:+20",
                //startDate: new Date(),
            });
        });
    </script>
}

